body {
    color: #ffffff;
    background-color: #000000;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

/** Header **/
#mynav {
    background-color: #3cdb49;
    border: 0;
    border-radius: 0;
}
#mynav button {
    margin-top: 20px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #e4a76f;
}
.navbar-collapse {
    border-top: 0;
}
.navbar-brand, .navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}
.navbar-brand h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: #ffffff;
}
.navbar-brand a:hover {
    text-decoration: none;
}
#nav-list {
    background-color: #8753e7;
}
#nav-list a {
    font-weight: bolder;
    color: #282828;
    font-size: 18px;
}
#nav-list a:hover {
    color: #202020;
    background-color: #487240;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
}


/** Main **/
#main {
    width: 90%;
    margin-bottom: 40px;
}
#main h2 {
    font-weight: bold;
    font-size: 45px;
    margin-top: 18px;
    margin-bottom: 18px;
}
#main h3 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 22px;
}
#main-sec {
    background-color: #3c2896;
    padding: 40px;
    padding-top: 20px;
}